.b-article-intro {
  &__image {
    max-width: 100%;
  }
  &__image-text {
    margin: 0rem 0 1rem 0;
    font-size: $meta-text;
    color: $grey;
  }
  &__intro {
    font-size: $medium-large-text;
    font-weight: bold;
  }
}
