.b-breadcrumbs {
  &__location {
    font-size: 14px;
    color: $grey;
    @include mq($until: desktop) {
      display: none;
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    font-size: 14px;
    @include link-init($grey, true, darken($grey-light, 15%));
    margin-right: 1.5rem;

    &:after {
      position: absolute;
      display: block;
      content: ' ';
      top: 0.25rem;
      right: -0.75rem;
      height: 1.2em;
      width: 1px;
      border-right: 1px solid darken($grey-light, 15%);
    }

    &:nth-child(1) {
      font-size: 28px;
      border-right: 2px;
    }
    &:nth-child(2) {
      font-size: 1rem;
    }

    &:last-child {
      &:after {
        border-right: 0;
      }
    }

    @include mq($until: desktop) {
      display: none;
      position: relative;
      margin-left: 1.5em;
      &:nth-last-child(2) {
        display: inline-block;
        &:after {
          display: none;
        }
        &:before {
          position: absolute;
          display: inline-block;
          content: '';

          background-image: url($arrow-left);
          background-size: 0.8em;
          background-repeat: no-repeat;

          left: -1.5em;
          top: 0.4em;
          height: 0.8em;
          width: 0.8em;
        }
      }
    }
  }
}
