.b-box {
  border: 1px solid $grey-light;
  border-radius: 4px;
  padding: 2rem;
  background-color: $grey-lighter;

  @include mq($until: $tablet) {
    padding: 1rem;
  }

  &--green {
    background-color: $green-light;
    border: 1px solid $green;
  }
  &--white {
    background-color: white;
    border: 1px solid $grey;
  }

  &--blue {
    background-color: $blue-lighter;
    border: 1px solid $blue-light;
  }
}
