.b-chapter-heading {
  display: block;
  position: relative;
  border-top: 7px solid $black;
  padding: 0 3.5em 1em 1em;
  border-bottom: 1px solid $blue;
  @include link-init($black);
  @include underline(transparent);

  &:hover {
    color: $blue;
    background: $grey-lighter;
  }

  // Lets the background extend outside of its box.
  &--overflow {
    padding-left: 0;
    &:hover {
      margin-left: -1rem;
      padding-left: 1rem;
    }
  }

  &--line-bottom {
    padding-top: 0;
    border-top: 0;
    border-bottom: 7px solid $black;
    padding-bottom: 1em;
  }

  &__main-heading {
    &:after {
      content: '→';
      position: absolute;
      right: 1rem;

      // Note: this space should be adjusted relative to the size of sub-heading
      // if it ever was too be changed.
      top: 1.3em;
    }
  }
}
