.b-collapsible {
  $left-space: 1.5em;
  padding-left: $left-space;
  border-top: 4px solid $black;
  padding-top: 2em;

  &--medium {
    border-width: 1px;
  }
  &--small {
    border-width: 1px;
    border: 0;
    padding-top: 0;
    margin-top: 0;
  }

  &--subtle {
    margin-left: -$left-space;
  }

  &--no-border {
    border: 0;
  }

  &__code {
    font-weight: normal;
    font-size: $meta-text;
    color: $grey;
    float: right;
    margin-top: 0;
  }

  &__category {
    margin-right: 7%;
    font-size: $meta-text;
    margin-bottom: 0.5em;
  }

  &__button {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    border: 0;
    text-align: left;
    padding: 0;
    overflow: visible;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      color: $link-color;
    }

    &:before {
      display: block;
      position: absolute;
      content: ' ';
      width: 0.75em;
      height: 0.75em;
      margin-left: -$left-space;
      transform: rotate(90deg);
      background-image: url(../static/icons/chevron.svg);
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      top: 0.25em;
    }

    &:active {
      color: $black;
    }

    &--subtle {
      font-size: $meta-text;
      box-shadow: none !important;
      > * {
        display: inline !important;
        border-bottom: 1px dashed $black;
      }

      &:before {
        display: none;
      }
    }

    &--medium {
      &:before {
        top: 0.25em;
        width: 0.66em;
        height: 0.66em;
      }
    }
    &--small {
      padding-bottom: 1px;
      &:before {
        margin-left: -$left-space;
        top: 0.25em;
        width: 0.66em;
        height: 0.66em;
      }
    }

    &--active {
      &:before {
        top: 0;
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    animation: fadeInUp 300ms ease;
    margin-top: 0.5rem;
    margin-left: -$left-space;

    &--small {
      font-size: $meta-text;
      margin-left: 0;
    }
  }
  &__heading {
    &:hover {
      cursor: pointer;
      // text-decoration: underline;
    }
  }
  &__subheading {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $meta-text;
  }
  &__meta-heading {
    font-size: $meta-text;
    margin-top: 10px;
  }
}
