.b-collapsible {
  padding-left: 2em;
  border-top: 7px solid $black;
  padding-top: 2em;

  &--medium {
    border-width: 1px;
  }
  &--small {
    border-width: 1px;
    padding-left: 1.5em;
    border: 0;
    padding-top: 0;
    margin-top: 0;
  }

  &__button {
    position: relative;
    background: none;
    border: 0;
    text-align: left;
    padding: 0;
    display: inline;
    font-size: 1em;

    &:before {
      display: block;
      position: absolute;
      content: ' ';
      width: 1em;
      height: 1em;
      margin-left: -2em;
      transform: rotate(90deg);
      background-image: url(./icons/chevron.svg);
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      top: 0.15em;
    }

    &:active {
      color: $black;
    }

    &--medium {
      &:before {
        top: 0.25em;
        width: 0.66em;
        height: 0.66em;
      }
    }
    &--small {
      @include underline($black);
      &:before {
        margin-left: -1.5em;
        top: 0.25em;
        width: 0.66em;
        height: 0.66em;
      }
    }

    &--active {
      &:before {
        top: 0;
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    animation: fadeInUp 300ms ease;
    margin-top: 1rem;
  }
  &__heading {
    display: inline;

    &:hover {
      cursor: pointer;
      @include underline($black);
    }
  }
  &__subheading {
    border-bottom: 1px dotted $blue;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $meta-text;
  }
}
