.b-chapter-heading {
  display: block;
  position: relative;
  border-top: 7px solid $black;
  padding: 0 0 1em 0;
  @include underline(transparent);

  &--link {
    position: relative;
    @include link-init($black);
    padding: 1em;
    border-bottom: 1px solid $link-color;
    &:hover {
      color: $link-color;
      background: rgba(0, 0, 0, 0.05);
    }

    .b-chapter-heading__main-heading::after {
      visibility: visible;
    }
  }

  &__main-heading {
    display: flex;
    justify-content: space-between;
    &:after {
      visibility: hidden;
      margin-left: 0.5em;
      content: '→';
      font-size: 1em;
      color: $link-color;
      height: 100%;
    }
  }

  &--line-none {
    border: 0;
    padding-top: 0.5rem;
  }

  &--line-bottom {
    border-top: 0;
    border-bottom: 7px solid $black !important;
    padding-bottom: 1em;
  }
}
