.b-card {
  border-radius: 4px;
  border: 1px solid $grey-light;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__feature {
    color: white;
    > img {
      width: 100%;
      display: block;
    }
    flex-grow: 1;
  }
  &__link {
    display: block;
    position: relative;
    background-color: white;
    padding: 1rem 3rem 1rem 1rem;
    box-shadow: none;

    &:hover {
      .b-card__heading {
        color: $blue;
        @include underline($blue);
      }
    }

    &:after {
      content: '→';
      position: absolute;
      right: 1rem;
      top: 0.75rem;
      font-size: $medium-large-text;
    }

    &--left-arrow {
      padding: 1rem 2rem 1rem 3rem;
      // Removes the arrow pointing right
      &:after {
        display: none;
      }
      &:before {
        content: '←';
        position: absolute;
        left: 1rem;
        top: 0.75rem;
        font-size: $medium-large-text;
      }
    }
  }
  &__heading {
    display: inline;
    color: $black;
  }
  &__text {
    font-size: $meta-text;
    color: $grey;
    margin-top: 1em;
    // This text should ignore the extra padding, made for the heading and arrow.
    width: calc(100% + 1rem);
  }
}
