.b-chapter-heading {
  display: block;
  position: relative;
  border-top: 7px solid $black;
  padding: 0 3.5em 1em 0;
  @include link-init($black);
  @include underline(transparent);

  &--link {
    padding: 0 3.5em 1em 1em;
    border-bottom: 1px solid $blue;
    &:hover {
      color: $blue;
      background: $grey-lighter;
    }

    &:after {
      content: '→';
      position: absolute;
      right: 1rem;
      font-size: $large-text;

      // Note: this space should be adjusted relative to the size of sub-heading
      // if it ever was too be changed.
      top: 1.4em;
    }
  }

  // Lets the background extend outside of its box.
  &--overflow {
    padding-left: 0;
    &:hover {
      margin-left: -1rem;
      padding-left: 1rem;
    }
  }

  &--line-none {
    border: 0;
    padding-top: 0;
  }

  &--line-bottom {
    padding-top: 0;
    border-top: 0;
    border-bottom: 7px solid $black;
    padding-bottom: 1em;

    &:hover {
      // Makes sure the link css rule doesn't override this
      border-bottom: 7px solid $black;
    }
  }
}
