.b-collapsible {
  $space: 1.75em;
  $spaceSmall: 0.75em;
  padding: $spaceSmall $space;
  border: 1px solid transparent;

  .b-collapsible {
    background: none;
    border: none;
    padding: $spaceSmall $space;
    margin-left: 0;
    
    &--tiny {
      padding: $spaceSmall/2 0;
    }
  }

  &--medium {
    border-width: 1px;
  }
  &--small {
    border-width: 1px;
    border: 0;
    margin-top: 0;
  }
  &--tiny {
    margin-top: 0;
    padding: 0;
  }

  &--subtle {
    margin-left: -$space;
    padding-left: 0;
    background: none;
    border: none;
    
    &.b-collapsible {
      padding-left: 0;
    }
    
    h4 {
      font-size: $meta-text;
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  &--no-border {
    border: 0;
  }
  
  &--active.b-collapsible--background {
    background: white;
    border: 1px solid $grey-light;
    margin-left: -$space*0.5;
    margin-bottom: $space;
    padding-left: $space*1.5;
  }

  &__code {
    font-weight: normal;
    font-size: $meta-text;
    color: $grey;
    float: right;
    margin-top: 0;
  }

  &__category {
    margin-right: 7%;
    font-size: $meta-text;
    margin-bottom: 0.5em;
  }

  &__button {
    position: relative;
    display: block;
    width: 100%;
    background: none;
    border: 0;
    text-align: left;
    padding: 0;
    overflow: visible;
    font-size: 1em;
    cursor: pointer;

    &:hover {
      color: $link-color;
    }

    &:before {
      display: block;
      position: absolute;
      content: ' ';
      width: 16px;
      height: 16px;
      margin-left: -$space;
      transform: rotate(90deg);
      background-image: url(../static/icons/chevron.svg);
      background-repeat: no-repeat;
      background-size: contain;
      left: 0;
      top: 5px;
    }

    &:active {
      color: $black;
    }

    &--subtle {
      font-size: $meta-text;
      box-shadow: none !important;
      > * {
        display: inline !important;
        border-bottom: 1px dashed $black;
      }

      &:before {
        display: none;
      }
    }

    &--medium {
      &:before {
        top: 5px;
        width: 0.66em;
        height: 0.66em;
      }
    }
    &--small {
      &:before {
        margin-left: -$space;
        top: 0.15em;
      }
    }
    &--tiny {
      display: inline-block;
      width: auto;
      padding-right: 20px;
      position: relative;
      
      h5 {
        border-bottom: 1px solid $blue;
        padding-bottom: 4px;
        display: inline-block;
        text-transform: none;
      }
      
      &:before {
        display: none;
      }
      &:after {
        display: block;
        position: absolute;
        content: ' ';
        width: 16px;
        height: 16px;
        margin-left: -$space;
        transform: rotate(180deg);
        background-image: url(../static/icons/chevron.svg);
        background-repeat: no-repeat;
        background-size: contain;
        right: 0;
        top: 0;
        
      }
      &.b-collapsible__button--active:after {
        transform: rotate(0deg);
        top: 7px;
      }
    }

    &--active {
      &:before {
        top: 0;
        transform: rotate(180deg);
      }
    }
  }
  &__content {
    animation: fadeInUp 300ms ease;
    
    h4 {
      margin-top: $space;
    }
    h5 {
      text-transform: none;
    }
    button h4 {
      margin: 0;
    }

    &--small {
      font-size: $meta-text;
      margin-left: 0;
    }
  }
  &__heading {
    &:hover {
      cursor: pointer;
      // text-decoration: underline;
    }
  }
  &__subheading {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: $meta-text;
  }
  &__meta-heading {
    font-size: $meta-text;
    margin-top: 10px;
  }
}
