.b-card {
  border-radius: 4px;
  border: 1px solid $grey-light;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--horizontal {
    flex-direction: row;

    // The element which is a child of the feature needs to have 100% height.
    .b-card__feature > * {
      display: flex;
      // Prevents subpixel issue
      margin-top: -2px;
    }

    .b-card__feature {
      display: flex;
      flex-grow: 0;
    }

    .b-card__link {
      flex-grow: 1;
    }
  }

  &__feature {
    color: white;
    > img {
      width: 100%;
      display: block;
    }
    flex-grow: 1;
  }
  &__topic {
    display: inline-block;
    font-size: $meta-text;
    margin-top: 1rem;
    padding: 0.25em;
    background-color: $yellow-light;
  }
  &__link {
    display: block;
    height: 100%;
    position: relative;
    background-color: white;
    padding: 1rem 3rem 1rem 1rem;
    box-shadow: none;

    // Removes the margin, if there is only one child element
    > * {
      &:only-child {
        margin-top: 0;
      }
    }

    &:hover {
      *:first-child {
        color: $link-color;
        @include underline(transparent);
      }
    }

    &--right-arrow {
      &:after {
        content: '→';
        position: absolute;
        right: 1rem;
        top: 0.75rem;
        font-size: $medium-large-text;
      }
    }

    &--left-arrow {
      padding: 1rem 2rem 1rem 3rem;
      // Removes the arrow pointing right
      &:after {
        display: none;
      }
      &:before {
        content: '←';
        position: absolute;
        left: 1rem;
        top: 0.75rem;
        font-size: $medium-large-text;
      }
    }
  }
  &__heading {
    display: block;
    color: $black;
  }
  &__text {
    font-size: $meta-text;
    color: $grey;
    margin-top: 0.5em;
    // This text should ignore the extra padding, made for the heading and arrow.
    width: calc(100% + 1rem);
  }
}
