.b-footer {
  color: white;

  &__link {
    @include link-init(white, true);
    display: inline;
    line-height: 2em;
  }
  &__text {
    font-size: $meta-text;
  }
  &__link-list {
    display: flex;
    flex-wrap: wrap;
  }
}
