.b-flex {
  display: flex;
}
.b-flex--skip-mobile {
  @include mq($until: $tablet) {
    display: block;
  }
}
.b-flex--right {
  justify-content: flex-end;
}
.b-flex--center {
  align-items: center;
}