.b-icon {
  &--heading {
    float: left;
    margin-right: 0.5em;
    height: 1em;
    width: auto;
  }
  &--small {
    height: 1em;
    width: auto;
    margin-bottom: -0.05em;
  }
  &--medium {
    height: 2em;
    width: auto;
    margin-bottom: -0.6em;
  }
  &--large {
    max-width: 3rem;
    width: 100%;
    width: auto;
  }
  &--with-text {
    display: flex;
    align-items: center;
    &__image {
      margin-right: 1em;
    }
    &__text {
      text-transform: uppercase;
      font-size: $meta-text;
    }
  }
}
