.b-input-search {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 3rem;

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.75em;

    &--dark {
      font-weight: normal;
    }
  }

  &__field {
    min-width: 0;
    font-size: 1rem;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    color: $secondary-color;
    background-color: white;
    border: 0;
    padding: 0 1em;
    border-radius: 4px;
    box-shadow: 0 0 0 1px $secondary-color;
    text-overflow: ellipsis;

    &:focus {
      // Outline doesn't have border-radius, so we use box-shadow instead.
      outline: 0;
      box-shadow: 0 0 0 2px $primary-color;
    }

    &--dark {
      box-shadow: none;
      &:focus {
        // Outline doesn't have border-radius, so we use box-shadow instead.
        outline: 0;
        box-shadow: 0 0 0 4px $yellow;
      }
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: $meta-text;
    padding: 0 1rem;
    background-color: white;
    border: 0;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

    &:hover {
      background: $yellow-light;
    }

    &:after {
      display: block;
      width: 1.2em;
      height: 1.2em;
      content: ' ';
      float: right;
      background-size: 1.2em;
      background-position: center;
      background-image: url('../static/icons/search.svg');
      background-repeat: no-repeat;
    }
  }
}

.react-autosuggest {
  &__container {
    &--open {
      // No style
    }
  }
  &__input {
    &--open {
      // No style
    }
    &--focused {
      // No style
    }
  }
  &__suggestions-container {
    position: relative;
    &--open {
      // No style
    }
  }
  &__suggestions-list {
    // removes ul default styles
    position: absolute;
    width: 100%;
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 4px;
    margin-top: 0.25rem;
    max-width: 100%;
    overflow: auto;
    padding: 0;
    list-style-type: none;
    z-index: 2;
  }
  &__suggestion {
    cursor: pointer;
    border-bottom: 1px solid $primary-color;
    padding: 1rem;

    &:last-child {
      border: 0;
      background-color: $primary-color;
      color: white;
      padding: 0.5rem 1rem;
    }

    &--first {
      // No style
    }
    &--highlighted {
      border-color: $primary-color;
      background-color: $grey-lighter;
    }
  }
  &__section-container {
    &--first {
      // No style
    }
  }
  &__section-title {
    // No style
  }
}
