.b-icon {
  &--heading {
    float: left;
    margin-right: 0.5em;
    height: 1em;
    width: auto;
  }
  &--small {
    height: 1em;
    width: auto;
    margin-bottom: -0.05em;
  }
  &--large {
    max-width: 3rem;
    width: 100%;
    width: auto;
  }
}
