.b-input-text {
  &__label {
    font-size: $meta-text;
  }
  &__input {
    display: block;
    width: 25em;
    max-width: 100%;
    margin-top: 0.5em;
    font-size: $base-font-size;
    padding: 0.5em;
    border-radius: 4px;
    border: 2px solid $secondary-color;
    background: white;
  }
  &__error {
    color: $red;
    font-size: $meta-text;
    margin-bottom: 1em;
  }
}
