.b-input-search {
  display: flex;
  flex-wrap: wrap;

  &__field {
    flex-grow: 1;
    font-size: 1rem;
    color: $secondary-color;
    background-color: white;
    border: 0;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 0 0 1px $secondary-color;

    &:focus {
      // Outline doesn't have border-radius, so we use box-shadow instead.
      outline: 0;
      box-shadow: 0 0 0 2px $primary-color;
    }

    &--dark {
      box-shadow: none;
      &:focus {
        // Outline doesn't have border-radius, so we use box-shadow instead.
        outline: 0;
        box-shadow: 0 0 0 4px $yellow;
      }
    }
  }

  &__button {
    font-size: 1rem;
    padding: 1em;
    margin-left: 1rem;
    color: $secondary-color;
    background-color: white;
    box-shadow: 0 0 0 1px $secondary-color;
    border: 0;
    border-radius: 4px;
    cursor: pointer;

    &:after {
      display: block;
      width: 1.2em;
      height: 1.2em;
      content: ' ';
      float: right;
      margin-left: 0.75em;
      background-size: 1.2em;
      background-position: center;
      background-image: url('../static/icons/search.svg');
      background-repeat: no-repeat;
    }

    &--dark {
      box-shadow: none;
      background-color: $yellow;
    }
  }
}

.react-autosuggest {
  &__container {
    &--open {
      // No style
    }
  }
  &__input {
    &--open {
      // No style
    }
    &--focused {
      // No style
    }
  }
  &__suggestions-container {
    position: relative;
    &--open {
      // No style
    }
  }
  &__suggestions-list {
    // removes ul default styles
    position: absolute;
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 4px;
    margin-top: 0.25rem;
    max-width: 100%;
    overflow: auto;
    padding: 0;
    list-style-type: none;
    z-index: 2;
  }
  &__suggestion {
    cursor: pointer;
    border-bottom: 1px solid $primary-color;
    padding: 1rem;

    &:last-child {
      border: 0;
      background-color: $primary-color;
      color: white;
      padding: 0.5rem 1rem;
    }

    &--first {
      // No style
    }
    &--highlighted {
      border-color: $primary-color;
      background-color: $yellow-light;
    }
  }
  &__section-container {
    &--first {
      // No style
    }
  }
  &__section-title {
    // No style
  }
}
