.b-input-text {
  display: flex;
  flex-wrap: wrap;

  &__field {
    flex-grow: 1;
    border: 2px solid $brand-color;
    padding: 0.8em;

    &--big {
      font-size: $big-text;
    }
  }
  &__label {
    width: 100%;

    &--big {
      font-size: $big-text;
    }
  }
  &__button {
    padding: 0 2em;

    color: white;
    background-color: $brand-color;
    border: 0;

    &--big {
      font-size: $big-text;
      font-weight: bold;
    }
  }
}
