.b-list-heading {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px solid $black;
  padding-bottom: calc(#{map-get($space-map, xs)} - 7px);
  &__heading {
    text-transform: uppercase;
  }
}
