.b-link-with-icon {
  &__icon {
    display: inline-block;
    content: ' ';
    height: 1.6em;
    width: 1.2em;
    margin-right: 0.6em;
    margin-bottom: -0.6em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
  }
}
