.b-link {
  &__icon {
    display: inline-block;
    content: ' ';
    height: 1.6em;
    width: 1.2em;
    margin-right: 0.6em;
    margin-bottom: -0.5em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 center;
  }
  &__download {
    &:after {
      content: ' ↓';
      box-shadow: 0 1px 0 transparent;
      color: $blue;
    }
  }
  &__link {
    &--arrow {
      &:after {
        content: ' →';
        box-shadow: 0 1px 0 transparent;
        color: $blue;
      }
    }
    &--small {
      font-size: $meta-text;
    }
    &--button {
      display: inline-block;
      color: white !important;
      background-color: $blue;
      padding: 0.5em 2.5em;
      border-radius: 4px;
    }
  }
}
