.b-list-item-type {
  position: relative;
  width: calc(100% - 1.5rem);

  &:after {
    content: '→';
    position: absolute;
    top: 0;
    right: -1rem;
    color: $link-color;
  }

  &--no-arrow {
    &:after {
      display: none;
    }
  }

  &__email {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: left;
  }
  &__meta {
    font-size: $meta-text;
    color: $grey;
  }
  &__topic {
    font-size: $meta-text;
    color: $grey;
    margin-top: 1em;
  }
  &__deadline {
    font-size: $meta-text;
    color: $red !important;
  }
  &__lead {
  }

  &__flex-wrapper {
    display: flex;
  }

  &__image {
    flex: 1;
    max-width: 8rem;
  }
  &__text {
    flex: 3;
    margin-left: 1rem;
  }
  &__category {
    font-size: $meta-text;
    background-color: $yellow-light;
    display: inline-block;
    padding: 0.25em;
  }
  &__date {
    font-size: $meta-text;
  }
  &__subheading {
    font-size: $meta-text;
    > * {
      &:first-child {
        font-weight: bold;
      }
      &:only-child {
        font-weight: normal;
      }
    }
  }
}
