.b-long-short-heading {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__sub {
    font-size: $meta-text;
    display: flex;
    align-items: center;
  }
  &__sub-icon {
    height: 3em;
    width: 3em;
    margin-right: 1em;
  }
  &__text {
    display: block;
    font-size: $meta-text;
  }
}
