.b-link {
  &__icon {
    display: inline-block;
    content: ' ';
    height: 1.6em;
    width: 1.2em;
    margin-right: 0.6em;
    margin-bottom: -0.5em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 center;
  }
  &__download {
    &:after {
      content: ' ↓';
      box-shadow: 0 1px 0 transparent;
      color: $blue;
    }
  }
  &__link {
    position: relative;

    &--arrow {
      &:after {
        content: ' →';
        box-shadow: 0 1px 0 transparent;
        color: $blue;
        margin-left: 0.5em;
        position: absolute;
        top: -0.1em;
      }
    }
    &--button {
      box-sizing: border-box;
      display: inline-block;
      color: white !important;
      background-color: $blue;
      padding: 0.5em 2em;
      border-radius: 4px;
      border: 0;
      font-size: $base-font-size;
      cursor: pointer;
      @include underline(transparent);
      &:after {
        top: 1px;
        color: white;
        position: relative;
      }
    }
    &--button-wide {
      @extend .b-link__link--button;
      width: 100%;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
      &:after {
        position: absolute;
        right: 1em;
        top: 1.5em;
      }
    }
    &--small {
      font-size: $meta-text;
    }
    &--purple {
      background-color: $purple-dark;
      color: white;
    }
  }
}
