.b-list-item-type {
  position: relative;
  width: 100%;
  width: calc(100% - 1.5rem);

  &:after {
    @include pseudo-arrow($arrow-right);
    position: absolute;
    right: -1rem;
    top: 0.4em;
  }

  &--no-arrow {
    &:after {
      display: none;
    }
  }

  &--flex {
    display: flex;
  }

  &__download {
    font-size: $meta-text;
    text-decoration: underline;
    color: $link-color;
    margin-left: 1rem;
    margin-right: -1rem;
    padding-right: 1rem;
    flex-shrink: 0;
    position: relative;
    
    &:after {
      position: absolute;
      top: 0.4em;
      right: 0;
      @include pseudo-arrow($arrow-down);

      @include mq($until: $tablet) {
        top: 0;
        position: relative;
      }
    }
    &--open:after {
      position: absolute;
      top: 0.4em;
      right: 0;
      @include pseudo-arrow($arrow-right);
      margin-right: -1rem;
      
      @include mq($until: $tablet) {
        top: 0;
        position: relative;
      }
    }
  }
  &__current {
    font-size: $font-xs;
    font-weight: normal;
    margin-left: $space-sm;
    border: 0;
    border-radius: 20px;
    background-color: $yellow-light;
    padding: $space-xs/2 $space-sm;
  }
  &--link, &--link:link {
    text-decoration: none;
    color: $link-color;
  }
  &--float {
    display: inline-block;
    float: right;
  }

  &__email {
    display: inline-block;
    margin-top: 0.5rem;
  }
  &__meta {
    font-size: $meta-text;
    color: $grey;
  }
  &__topic {
    font-size: $meta-text;
    color: $grey;
    margin-top: 1em;
  }
  &__deadline {
    font-size: $meta-text;
    color: $red !important;
    margin-bottom: 0;
  }
  &__deadline--open {
    font-size: $meta-text;
    color: $green-warning !important;
  }
  &__lead {
    margin-bottom: 0;
  }
  &__date-circle {
    margin-right: $space-sm;
    background: $green-light;
    border-radius: 50%;
    height: 66px;
    width: 66px;
    font-size: $font-xs;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
    
    @include mq($from: tablet) {
      
      display: flex;
    }

    &--expired {
      background: $red-light;
    }
  }
  &__date-big {
    font-size: $font-l;
  }

  &__flex-wrapper {
    display: flex;
  }

  &__image {
    flex: 1;
    max-width: 8rem;
    margin-right: 1rem;

    @include mq($until: tablet) {
      display: none;
    }
  }
  &__text {
    flex: 3;
    padding-right: 0.5rem;
    h3 {
      font-size: $font-md;
    }
  }
  &__category {
    font-size: $meta-text;
    background-color: $yellow-light;
    display: inline-block;
    padding: 0.25em;
    margin: 1rem 0 0 0;
  }
  &__date {
    font-size: $font-xs;
    margin-top: 0.5em;
  }
  &__subheading {
    font-size: $font-xs;
    margin-top: 0.5em;
    > * {
      &:first-child {
        font-weight: bold;
      }
      &:only-child {
        font-weight: normal;
      }
    }
  }
}
