.b-multi-selector {
  margin: 5rem;

  &__select {
    height: 1rem;
  }
  &__box {
    box-shadow: 0 2px 5px $green-dark;
  }
  &__checkboxes {
    padding: 1rem 1rem 0.25rem 1rem;
    max-height: 15rem;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:vertical {
      width: 10px;
    }
    &::-webkit-scrollbar:horizontal {
      height: 10px;
    }
    &::-webkit-scrollbar-thumb {
      // border-radius: 0.75rem;
      border: 2px solid white;
      background-color: rgba(0, 0, 0, 0.6);
    }
  }
  &__buttons {
    display: flex;
    align-content: space-around;
    padding: 1rem;
    border-top: 1px solid $grey-light;
  }
}
