.b-main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(0.5vw + 1rem) 0;
  padding-top: calc(1.5vw + 1rem);
  border-bottom: 1px solid $grey-light;
  margin-bottom: calc(0.5vw + 1.75rem);

  &__logo {
    height: 2rem;
    width: 100%;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position-y: center;
    @include underline(transparent);

    &--small {
      background-image: url($logo-small);
      background-size: contain;
    }
  }
  &__logo-link {
    flex-grow: 1;
    @include link-init(transparent);
    @include mq($until: $tablet) {
      width: 3rem;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__link {
    text-decoration: none;
    margin-right: 1.5rem;

    @include link-init($link-color);

    &:hover {
      @include underline($link-color);
    }
  }
  &__menu-overlay {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 0 4vw;
    width: 100vw;
    height: 100vh;
    background: white;
  }
  &__menu-overlay-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: calc(1.5vw + 1.2rem);
  }
  &__menu-overlay-links {
    animation-name: fadeInUp;
    animation-duration: 0.3s;
  }
}
