.b-main-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  overflow: scroll;

  &__logo {
    max-width: calc(8rem + 4vw);
  }
  &__logo-link {
    @include link-init(transparent);
  }
  &__nav {
    &--small {
      font-size: $meta-text;
    }
  }
  &__link {
    text-decoration: none;
    margin-left: 1rem;

    @include link-init($brand-color);

    &:hover {
      @include underline($brand-color);
    }
  }
}
