.b-nav-list {
  &__heading {
    border-bottom: 6px solid $black;
    padding-bottom: 0.25rem;
    font-weight: bold;
  }
  &__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &--columns {
      @include mq($from: $desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
  &__item {
    &--column {
      @include mq($from: $desktop) {
        flex: 0 47.5%;
        box-sizing: border-box;
      }
    }
    border-bottom: 1px solid $secondary-color;

    &--anchor {
      padding-right: 0;
      padding-left: 1.5rem;
    }

    &--blue {
      border-left: 0.25em solid $blue-light;
      padding-left: 1.5em;
    }
    &--green {
      border-left: 0.25em solid $green;
      padding-left: 1.5em;
    }
    &--orange {
      border-left: 0.25em solid $orange;
      padding-left: 1.5em;
    }
    &--yellow {
      border-left: 0.25em solid $yellow;
      padding-left: 1.5em;
    }
  }
  &__link {
    display: flex;
    justify-content: space-between;
    text-align: left;

    @include link-init($black);

    padding: 1rem 0;
    height: 100%;

    &:hover {
      color: $blue;
    }

    &:after {
      // color: $secondary-color;
      content: '→';
      margin-left: 1rem;
    }

    &--background {
      padding: 1rem;

      &:hover {
        background: $grey-lighter;
      }
    }

    &--anchor {
      justify-content: flex-start;

      &:before {
        content: '↓';
        color: $secondary-color;
        display: inline-block;
        margin-left: -1.25rem;
        padding-right: 0.75rem;
      }
      &:after {
        // We use this as a reset, to remove the other arrow
        content: '';
      }
    }
  }
  &__item-description {
    width: 30%;
    flex-shrink: 0;
  }
  &__item-title {
    width: 100%;
  }
}
