// These styles are also used in the List component.

.b-nav-list {
  &__heading {
    border-bottom: 6px solid $black;
    padding-bottom: 0.25rem;
    font-weight: bold;
  }
  &__items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    &--columns {
      @include mq($from: $desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
  &__item {
    &--column {
      @include mq($from: $desktop) {
        flex: 0 47.5%;
        box-sizing: border-box;
      }
    }
    border-bottom: 1px solid $primary-color;

    &--anchor {
      padding-right: 0;
      padding-left: 0;
    }

    &--blue {
      border-left: 0.25em solid $blue-light;
      padding-left: 1.5em;
    }
    &--green {
      border-left: 0.25em solid $green;
      padding-left: 1.5em;
    }
    &--orange {
      border-left: 0.25em solid $orange;
      padding-left: 1.5em;
    }
    &--yellow {
      border-left: 0.25em solid $yellow;
      padding-left: 1.5em;
    }

    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        .b-nav-list__link--ordered {
          &:before {
            display: block;
            content: '#{$i}';
            padding-right: 1em;
            color: $secondary-color;
          }
        }
      }
    }
  }
  &__item-info {
    font-size: $meta-text;
    padding-left: 1rem;
    @include mq($until: $tablet) {
      width: calc(100% - 2em);
      padding: 0;
    }
  }
  &__item-meta {
    font-size: $meta-text;
    color: $grey;

    &--hide {
      display: none;
    }
  }
  &__link {
    display: flex;
    justify-content: space-between;
    text-align: left;

    @include mq($until: $tablet) {
      display: block;
      position: relative;
    }

    @include link-init($black);
    padding: 1em;
    height: calc(100% - 2em);

    &:hover {
      color: $link-color;
      background: rgba(0, 0, 0, 0.05);
    }

    &:after {
      content: '→';
      margin-left: 1rem;
      color: $link-color;

      @include mq($until: $tablet) {
        position: absolute;
        top: 1em;
        right: 1em;
      }
    }

    &--active {
      background-color: $green-light !important; // We use important here, because we don't have the hover state to override it.
      transition: background-color 0.3s;
    }
    &--active-child {
      background-color: $green-light !important;
      transition: background-color 0.3s;
    }

    &--no-arrow {
      &:before {
        display: none;
      }
      &:after {
        display: none;
      }
    }

    &--anchor {
      justify-content: flex-start;

      &:before {
        content: '↓';
        color: $primary-color;
        display: inline-block;
        margin-left: 0;
        padding-right: 0.75rem;
      }
      &:after {
        // We use this as a reset, to remove the other arrow
        content: '';
      }
    }
  }
  &__item-description {
    width: 30%;
    flex-shrink: 0;
    @include mq($until: $tablet) {
      width: calc(100% - 2em);
    }
  }
  &__item-title {
    width: 100%;
    @include mq($until: $tablet) {
      width: calc(100% - 2em);
    }
  }
  &--small {
    font-size: $meta-text;
  }
  &--sticky {
    position: sticky;
    top: 2rem;
  }
  &__child-items {
    padding-left: 2em;
    list-style-type: none;
    margin: 0;
    border-top: 1px solid $link-color;

    li:last-child {
      border-bottom: 0;
    }
  }
  &__child-column {
    display: flex;
    min-width: 2.5em;

    &:first-child {
      padding-right: 0.5em;
    }

    &:last-child {
      flex-grow: 1;
    }
  }
}
