.b-profession-picker {
  text-align: right;
  
  @include mq($until: tablet) {
    margin-bottom: $space-sm;
    text-align: left;
  }

  .b-select {
    margin-left: auto;
  }

  &--negative-margin {
    margin-bottom: - $space-lg;
  }
  
  &__button {
    font-size: $font-xs;
    border-bottom: 1px solid $primary-color;
    cursor: pointer;
    margin: 0;

    &:hover {
      color: $primary-color
    }
  }
}