.b-page-meta {
  color: $grey;
  font-size: $meta-text;

  &__text {
    display: inline-block;
    border-right: 1px solid $grey;
    padding-right: 2em;
    margin-right: 2em;
  }
  &__link {
    display: inline-block;
    @include link-init($brand-color);

    &:after {
      display: inline-block;
      margin-left: 0.5em;
      content: ' →';
    }
  }
}
