.b-quote {
  display: block;
  border-left: 7px solid $grey;
  padding: 0.1em 0 0.1em 1em;
  margin: 2em 0;

  &:after,
  &:before {
    content: '';
  }

  // This is coming from the rich text-field in the CMS, so we need to make it non-BEM
  p {
    margin: 0 !important;
    text-indent: 2em;
  }
  p:first-child {
    text-indent: 0;
  }
}
