.b-section-sidebar {
  position: sticky;
  top: $space-md;

  &--bottom {
    > nav {
      max-height: 50vh !important;
    }
  }

  > nav {
    max-height: 85vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 10px;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
      border-radius: 4px;
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    padding-left: $space-xs;
    @include underline($grey-light);
    font-size: $font-xs;

    a {
      @include underline(transparent);
    }

    &--thick {
      padding-top: $space-sm;
      padding-bottom: $space-sm;
      border-top: 0;
    }
  }
  &__icon {
    height: 3em;
    width: auto;
    flex-shrink: 0;
    margin-right: 1em;
  }
  &__link {
    display: block;
    padding: $space-xs 0 $space-xxs 0;
    font-size: $font-xs;
    @include underline($grey-light);
    border-top: 1px solid $grey-light;

    &:hover:not(.b-section-sidebar__link--children) {
      color: $black !important;
      background-color: $primary-color-lightest;
      border-top: 1px solid $primary-color-light;
     
     &+.b-section-sidebar__link {
       border-top: 1px solid $primary-color-light;
     }
    }
    
    &:last-child:hover {
      border-bottom: 1px solid $primary-color-light;
    }

    &--active {
      color: $black !important;
      background-color: $primary-color-lightest;
      border-top: 1px solid $primary-color-light;
      font-weight: 600;
      display: block;
      &+.b-section-sidebar__link {
        border-top: 1px solid $primary-color-light;
      }
    }
  }
  &__sub-link {
    display: block;
    padding: $space-xs $space-sm $space-xs;
    font-weight: 300;
    border: 0;
    background-image: url($arrow-right);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: $space-md;
    transition: margin .1s ease-out;
    box-shadow: none;
    
    &--active {
      background: $primary-color-lighter;
      font-weight: 600;
      padding-left: $space-md;
      margin-left: 0;
    }

    &:last-child:hover {
      margin-left: $space-md*1.2;
    }
  }
  &__title {
  }
  &__meta {
    display: flex;
    padding-bottom: $space-xxs;
    padding-left: $space-xs;
    padding-right: $space-sm;
  }
  &__meta-prefix {
    padding-right: $space-xs;
    color: $primary-color;
  }
  &__description {
  }
  &__prefix {
    margin-right: 1em;
    flex-shrink: 0;
  }
}
