.b-section-sidebar {
  position: sticky;
  top: $space-md;
  border-right: 1px solid $grey-light;
  height: 100%;

  &--bottom {
    > nav {
      max-height: 50vh !important;
    }
  }

  > nav {
    max-height: 85vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }

  &__heading {
    display: flex;
    align-items: center;
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    padding-left: $space-xs;
    @include underline($grey-light);
    font-size: $font-xs;

    a {
      @include underline(transparent);
    }

    &--thick {
      padding-top: 0;
      padding-bottom: $space-sm;
      border-top: 0;
    }
  }
  &__icon {
    height: 3em;
    width: auto;
    flex-shrink: 0;
    margin-right: 1em;
  }
  &__link {
    display: block;
    padding: $space-xs 0 $space-xxs;
    font-size: $font-xs;
    @include underline($grey-light);
    border-top: 1px solid transparent;
    box-shadow: none;

    &:hover {
      color: $black !important;
      background-color: $primary-color-lightest;
      border-top: 1px solid $primary-color-light;
      border-bottom: 1px solid $primary-color-light;
      margin-bottom: -1px;
      
      &:last-child {
        margin-bottom: 0; // avoid hidden border bottom
      }
    }
    &--children:hover, &--active:hover {
      margin-bottom: 0;
    }
    
    &--children:hover {
      >.b-section-sidebar__sub-link:last-child {
        margin-left: $space-md*1.2;
      }
    }
    

    &--active {
      color: $black !important;
      background-color: $primary-color-lightest;
      border-top: 1px solid $primary-color-light;
      border-bottom: 1px solid $primary-color-light;
      font-weight: 600;
      padding-bottom: $space-xs;
      display: block;
    }
  }
  &__sub-link {
    display: block;
    padding: $space-xs $space-sm $space-xs;
    font-weight: 300;
    border: 0;
    background-image: url($arrow-right);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: $space-md;
    transition: margin .1s ease-out;
    
    &--active {
      background: $primary-color-lighter;
      font-weight: 600;
      background: none;
      margin-left: $space-xs;
      
    }
  }
  &__title {
  }
  &__meta {
    display: flex;
    padding-bottom: $space-xxs;
    padding-left: $space-xs;
    padding-right: $space-xs;
  }
  &__description {
  }
  &__prefix {
    margin-right: 1em;
    flex-shrink: 0;
  }
}
