.b-search-result-section {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__header {
    padding: 0.75em 0;
    margin: 0.5em 0;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;

    &:after {
      content: ' →';
    }
  }
  &__link {
    // We want hover to still have underline
    &:link,
    &:active,
    &visited {
      box-shadow: none;
    }
  }
  &__intro {
    font-size: $meta-text;
  }
  &__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__parent-item {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid $grey-light;
  }
  &__item {
    // No style
  }
  &__subitems {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 1em;
  }
  &__subitem {
    display: flex;
    font-size: $meta-text;
    padding: 0.75em 0;
    margin-left: 5vw;
    border-bottom: 1px solid $primary-color;

    &:last-child {
      border: 0;
    }
  }
  &__subitem-tag {
    flex-grow: 1;
    padding-right: 2em;
  }
  &__subitem-title {
    flex-grow: 1;
  }
  &__subitems-button {
    @include link-init($black);
    text-decoration: none;
  }
}
