.b-search-tray {
  display: flex;
  justify-content: center;
  flex-flow: column;
  height: 20rem;

  @include mq($until: $tablet) {
    height: 50vh;
  }

  &__item {
    @include mq($from: tablet) {
      animation: fadeInUp 300ms ease;
    }
  }

  &--blue {
    background-color: $blue-dark;
  }
}
