.b-search-tray {
  display: flex;
  justify-content: center;
  flex-flow: column;
  height: 20rem;

  @include mq($until: $tablet) {
    height: 35vh;
  }

  &__item {
    animation: fadeInUp 300ms ease;
  }

  &--blue {
    background-color: $blue-dark;
  }
}
