.b-section-sidebar {
  position: sticky;
  top: 2rem;

  &--bottom {
    > nav {
      max-height: 50vh !important;
    }
  }

  > nav {
    max-height: 85vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }

  &__heading {
    display: flex;
    padding-bottom: 0.75em;
    font-weight: bold;

    a {
      @include underline(transparent);
    }

    &--thick {
      padding-bottom: 0.5em;
      border-bottom: 4px solid $black;
    }
  }
  &__icon {
    height: 3em;
    width: auto;
    flex-shrink: 0;
    margin-right: 1em;
  }
  &__link {
    display: block;
    padding: 0.75em 0.5em;
    border-top: 1px solid $link-color;
    color: $link-color !important;
    @include underline(transparent);

    &:first-child {
      border-top: 0;
    }

    &:last-child {
      border-bottom: 1px solid $link-color;
    }

    &:hover {
      background-color: $grey-lighter;
      color: $black !important;
    }

    &--small {
      border: 0;
    }
    &--active {
      color: $black !important;

      &:hover {
        background-color: transparent;
      }
    }
  }
  &__title {
  }
  &__meta {
    display: flex;
  }
  &__description {
  }
  &__prefix {
    margin-right: 1em;
    flex-shrink: 0;
  }
}
