// Vertical timeline mobile //
.b-timeline {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    // Circle //
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: block;
      background: $blue;
      margin-right: 20px;
    }
    // Line //
    &:after {
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      background-color: $blue-light;
      top: -50%;
      left: 8px;
      z-index: -999;
    }
    // Remove line from first child //
    &:first-child:after {
      content: none;
    }
  }
}

// Horizontal timeline desktop //

@include mq($from: $tablet) {
  .b-timeline {
    &__list {
      display: flex;
    }

    &__item {
      flex-grow: 1;
      flex-direction: column;
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 50px;

      // Circle //
      &:before {
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
      }
      // Line //
      &:after {
        width: 100%;
        height: 4px;
        top: 8px;
        left: -50%;
        z-index: -999;
      }
    }
  }
}
