.b-table {
  
}

.b-table__wrapper {
  position: relative;
  overflow-x: auto;
  
  background-image: 

  /* Shadows */ 
  linear-gradient(to right, white, white),
  linear-gradient(to right, white, white),

  /* Shadow covers */ 
  linear-gradient(to right, rgba(0,0,0,.25), rgba(255,255,255,0)),
  linear-gradient(to left, rgba(0,0,0,.25), rgba(255,255,255,0));   

  background-position: left center, right center, left center, right center;
  background-repeat: no-repeat;
  background-color: white;
  background-size: 20px 101%, 20px 101%, 10px 101%, 10px 101%;
  
  /* Opera doesn't support this in the shorthand */
  background-attachment: local, local, scroll, scroll;
  
  table {
    min-width: 100%;
    min-height: 100%;

    p {
      margin: 0;
    }
  }
  margin: $space-md 0;

  @include mq($until: $tablet) {
    max-height: 80vh;
  }

  .is-number {
    word-break:keep-all;
    white-space: nowrap;
  }

  caption {
    text-align: left;
    font-size: $font-l;
    font-weight: 700;
    padding: $space-sm 0;
    @include mq($until: $tablet) {
      padding: $space-sm 0 $space-sm $space-sm;
      background: white;
    }
  }

  table {
    @include mq($until: $tablet) {
      border: 0;
    }
    border: 1px solid $grey-light;
  }

  td, table td:first-child {
    padding: $space-xs $space-sm;
    border: 0;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;
    z-index: 1;
  }

  thead {
    @include mq($until: $tablet) {
    }
  }
  
  thead td {
    @include mq($until: $tablet) {
      box-shadow: 0 3px 5px rgba(gray, .3);
      background: white;
      position: sticky;
      top: 0;
    }
  }
  
  table th {
    left: 0;
    z-index: 2;
    @include mq($until: $tablet) {
      background: white;
      position: sticky;
      box-shadow: 5px 0 5px rgba(gray, .3);
    }
  }
  
  thead td, th, table th:first-child {
    padding: $space-xs $space-sm;
    font-weight: 700;
    border: 0;
    border-top: 1px solid $grey-light;
    border-bottom: 1px solid $grey-light;
    @include mq($from: $tablet) {
      background: rgba($grey, .05);
    }
  }
  th, table th:first-child {
    border: 1px solid $grey-light;
    width: auto;
  }

  tr:nth-child(even) td {
    @include mq($from: $tablet) {
      background: rgba($grey, .05);
    }
  }

  table tr:last-child td {
    border-top: 0;
    border-bottom: 1px solid $grey-light;
  }
}

