.b-theme-box {
  @include mq($until: $tablet) {
    padding: $space-md $space-sm;
  }
  @include mq($from: $tablet) {
    padding-top: $space-xl;
    padding-bottom: $space-xl;
  }
}

.front .b-theme-box-wrapper:first-child {
  margin-top: -$space-md !important;
}