// Removes spacing aroung the heading, sets default weight to bold
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.225;
}

// Heading weights
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  &--light {
    font-weight: lighter;
  }
  &--normal {
    font-weight: normal;
  }
  &--bold {
    font-weight: bold;
  }
  &--brand-color {
    color: $brand-color;
  }
  &--secondary-color {
    color: $secondary-color;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}

// Heading sizes
h1,
.h1 {
  font-size: $extra-large-text;
}
h2,
.h2 {
  font-size: $large-text;
  font-weight: normal;
}
h3,
.h3 {
  font-size: $medium-large-text;
}
h4,
.h4 {
  font-size: $base-font-size;
  font-weight: bold;
}
h5,
.h5 {
  font-size: $meta-text;
  text-transform: uppercase;
  font-weight: normal;
  &--thin {
    color: $grey;
  }
}
