// Removes spacing aroung the heading, sets default weight to bold
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

// Heading weights
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  &--thin {
    font-weight: lighter;
  }
  &--normal {
    font-weight: normal;
  }
}

// Heading sizes
h1,
.h1 {
  font-size: $extra-large-text;
}
h2,
.h2 {
  font-size: $large-text;
}
h3,
.h3 {
  font-size: $medium-large-text;
}
