// Removes spacing aroung the heading, sets default weight to bold
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  // word-break: break-all;
  // word-break: break-word;
  // hyphens: auto;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.2;
}

// Heading sizes
h1,
.h1 {
  font-size: $font-h1;
  @include mq($until: $tablet) {
    font-size: $font-h1-mobile;
  }
}
h2,
.h2 {
  font-size: $font-h2;
  @include mq($until: $tablet) {
    font-size: $font-h2-mobile;
  }
}
h3,
.h3 {
  font-size: $font-h3;
  @include mq($until: $tablet) {
    font-size: $font-h3-mobile;
  }
}
h4,
.h4 {
  font-size: $font-h4;
  @include mq($until: $tablet) {
    font-size: $font-h4-mobile;
  }
}
h5,
.h5 {
  font-size: $font-h5;
  @include mq($until: $tablet) {
    font-size: $font-h5-mobile;
  }
  &--thin {
    color: $grey;
  }
}

// Heading weights
.h0, // 'h0' is only used to reset styles on dynamic headings we don't know the type of
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  &--light {
    font-weight: lighter;
  }
  &--normal {
    font-weight: normal;
  }
  &--bold {
    font-weight: bold;
  }
  &--brand-color {
    color: $secondary-color;
  }
  &--secondary-color {
    color: $primary-color;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}
