// These classes are only meant for HTML-elements being affected by javascript.
// It should be used sparingly.

.js-expand-list {
  &__extra-item {
    animation-name: fadeInUp;
    animation-duration: 0.3s;
  }
}

// The wrapper needs 100% to make position sticky work
#sectionSidebar {
  height: 100%;
}
