.l-container {
  @include mq($from: desktop) {
    padding: 0 6vw;
  }
  @include mq($from: wide) {
    padding: 0 14vw;
  }
}

// Units for vertical spacing
// We take 10% of the viewport (window size) width and divide it.
$space-map: (
  tight: calc(10vw / 10),
  small: calc(10vw / 6),
  medium: calc(10vw / 4),
  large: calc(10vw / 2),
  x-large: calc(10vw / 1)
);

$space-directions: (
  top: t,
  right: r,
  bottom: b,
  left: l
);

// Genereates spacing classes like this: l-mt-1
// mt = margin-top, and the number represents a value from 1-5,
// where 5 has the largest distance.
.l {
  @each $direction, $shortDirection in $space-directions {
    @each $spaceName, $spaceValue in $space-map {
      &-m#{$shortDirection}-#{index($space-map, $spaceName $spaceValue)} {
        margin-#{$direction}: $spaceValue;
      }
      @include mq($until: tablet) {
        margin-#{$direction}: calc($spaceValue * 1.5);
      }
    }
  }
}
