body {
  margin: 0;
}

.l-container {
  @include mq($until: desktop) {
    padding: 0 $container-small;
  }
  @include mq($from: desktop) {
    padding: 0 $container-medium;
  }
  @include mq($from: wide) {
    padding: 0 $container-large;
  }
}

// Units for vertical spacing
// We take 10% of the viewport (window size) width and divide it.
$space-map: (
  xs: calc(10vw / 10),
  sm: calc(10vw / 3.5),
  md: calc(10vw / 2.225),
  lg: calc(10vw / 1.5),
  xl: calc(10vw / 1)
);
$space-directions: (
  top: t,
  right: r,
  bottom: b,
  left: l
);

// Genereates spacing classes like this: l-mt-1
// mt = margin-top, and the number represents a value from 1-5,
// where 5 has the largest distance.
.l {
  @each $direction, $shortDirection in $space-directions {
    @each $spaceName, $spaceValue in $space-map {
      &-m#{$shortDirection}-#{index($space-map, $spaceName $spaceValue)} {
        margin-#{$direction}: $spaceValue;

        @include mq($until: tablet) {
          margin-#{$direction}: calc(#{$spaceValue} * 2);
        }
      }
    }
  }

  // flexboxgrid-breakpoints is in settings.scss
  @each $name, $value in $flexboxgrid-breakpoints {
    &-hide-to-#{$name} {
      @include mq($until: $value) {
        display: none;
      }
    }
    &-hide-from-#{$name} {
      @include mq($from: $value) {
        display: none;
      }
    }
  }
}

.l {
  // Makes columns ignore the gutters
  &-bleed-right {
    @include mq($from: mobile) {
      padding-right: 0;
    }
    @include mq($from: tablet) {
      padding-right: 0;
    }
    @include mq($from: desktop) {
      padding-right: 0;
    }
    @include mq($from: wide) {
      padding-right: 0;
    }
  }
  &-bleed-left {
    @include mq($from: mobile) {
      padding-left: 0;
    }
    @include mq($from: tablet) {
      padding-left: 0;
    }
    @include mq($from: desktop) {
      padding-left: 0;
    }
    @include mq($from: wide) {
      padding-left: 0;
    }
  }
  &-bleed {
    @include mq($from: mobile) {
      padding-right: 0;
      padding-left: 0;
    }
    @include mq($from: tablet) {
      padding-right: 0;
      padding-left: 0;
    }
    @include mq($from: desktop) {
      padding-right: 0;
      padding-left: 0;
    }
    @include mq($from: wide) {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
