// Unfortunally Flexboxgrid adds text-align rules. This snippet makes it left align again.
@each $breakpoint in $flexboxgrid-breakpoints {
  $name: nth($breakpoint, 1);
  .center-#{$name} {
    text-align: left;
  }
  .end-#{$name} {
    text-align: left;
  }
}
.center-xs,
.end-xs {
  text-align: left;
}

// Used to the classnames on the blocks
.block-hint {
  [class^='b-']:not([class*='__']) {
    position: relative;
    &:before {
      content: attr(class);
      position: absolute;
      font-size: 0.7rem;
      top: -0.25em;
      color: #991199;
      font-weight: bold;
      background: white;
      border: 1px solid grey;
      z-index: 2;
      padding: 0.25em;
    }
  }
}

/*
// Shows what element a heading is using. Used for testing.
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  &:before {
    position: absolute;
    left: -3rem;
    font-size: 1rem;
    padding: 0.5em;
    background: lightgrey;
  }
}

h1:before {
  content: 'h1';
}
h2:before {
  content: 'h2';
}
h3:before {
  content: 'h3';
}
h4:before {
  content: 'h4';
}
h5:before {
  content: 'h5';
}
h6:before {
  content: 'h6';
}
*/
