@mixin link-init($color, $underline: false) {
  &:link,
  &:hover,
  &:visited,
  &:active {
    color: $color;
    box-shadow: none;
    border-bottom: 0;
    text-decoration: none;

    @if $underline == true {
      box-shadow: 0 1px 0 $color;
    }
  }
}

@mixin underline($color) {
  box-shadow: 0 1px 0 $color;
}
