@page:first {
  background-image: url("https://www.helsedirektoratet.no/_/asset/helsedirektoratet:1570538453/img/pdf-cover.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: 580px;

  @bottom-center {
    content: ""
  }
}
@page frontpage-no-image:first {
  background: none;
  padding-bottom: 0;
}

@page {
  size: A4;
  margin: 2cm;
  counter-increment: page;
  background-attachment: inherit;
  overflow: visible;
  margin-bottom: 2cm;

  @bottom-center {
    content: "Side "counter(page) "/"counter(pages);
    margin-bottom: 1cm;
  }
}


@media print {
  .toc a::after {
    content: leader('.') target-counter(attr(href), page);
  }
}


.print-page-break {
  page-break-after: always;
  overflow: visible;
}
.print-pdf {
  a[href^="http://"],
  a[href^="https://"],
  a[href^="//"] {
    color: blue !important;
    text-decoration: underline !important;
  }
  // Typography
  font-size: 13px;
  .b-collapsible__content--small, .b-collapsible__category, li, p, td {
    font-size: 13px;
    line-height: 1.4;
  }
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.2em;
  }
  h1, .h1 {
    font-size: 2.6em;
    margin-bottom: 30px;
  }
  h2, .h2 {
    margin-top: 30px;
    font-size: 2.2em;
  }
  .print-section-level-1>h2 {
    margin-bottom: 15px;
  }
  h3, .h3 {
    font-size: 1.6em;
  }
  h4, .h4 {
    font-size: 1.5em;
  }
  h5, .h5 {
    font-size: 1.3em;
  }
  h4 + h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    margin-bottom: 1.5em;
    margin-top: 0;
  }
  // Every 'div' that is a diract child of 'body' is a single page
  & > div {
    border-bottom: 10px solid black;
    margin-bottom: 40px;
  }
  .atom-main-content { // "Anbefaling" intro text
    padding-left: 20px;
    border-left: 6px solid #ddd;
  }
  div.tabbed {
    margin-left: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
    border-top: 1px solid black;
    h1 {
      font-size: 1.8em;
    }
    h2 {
      font-size: 1.55em;
    }
    h3 {
      font-size: 1.1em;
    }
    h4 {
      font-size: 1em;
    }
  }
  div.tabbed-1 {
    margin-left: 20px;
  }
  div.tabbed-2 {
    margin-left: 40px;
  }
  div.tabbed-3 {
    margin-left: 60px;
  }
  div.tabbed-4 {
    margin-left: 80px;
  }
  div.tabbed-5 {
    margin-left: 100px;
  }
  // Override spacing classes
  .l-mb-3 {
    margin-bottom: 30px;
  }
  .b-collapsible__content {
    margin-left: 0;
  }
  .b-collapsible {
    padding-left: 0;
  }
  
  // Override other stuff
  table {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  table td {
    padding: 3px 6px;
  }
}



// TOC/Front page table
.toc-table {
  border: none !important;
  margin-top: 100px;
}

.toc-right-column {
  border: none !important;
}

.toc-right-text {
  margin-bottom: 2px;
}

.toc-left-column {
  border: none !important;
  vertical-align: top;
  text-align: left;
}

.toc-left-title {
  margin-top: 20px;
}

.cover-table {
  border: none !important;
}

.cover-right {
  border: none !important;
}

.cover-left {
  border: none !important;
  vertical-align: top;
  text-align: left;
  
  h4 {
    font-size: 1.3em;
  }
}