.is-wrapper {
  padding: 2rem;
  height: 100%;
  min-height: 400px;
  background-color: $brand-color;
}

.test-icon {
  content: ' ';
  background-color: $brand-color;
  padding-bottom: 1.6em;
  width: 1.6em;
  content: ' ';
  border-radius: 100%;
  float: left;
  margin-right: 0.5em;
}

.suggestion-title {
  display: inline-block;
  margin-top: 0.25rem;
  font-size: $medium-large-text;
}
.suggestion-intro {
  font-size: $meta-text;
  margin: 0.5rem 0;
}
.suggestion__meta {
  font-size: $meta-text;
}
.some-label {
  display: inline-block;
  color: white;
  padding-left: 1rem;
}
