.frontpage-wrapper {
  padding: 2rem;
  background-color: $secondary-color;
}

.test-icon {
  content: ' ';
  background-color: $secondary-color;
  padding-bottom: 1.6em;
  width: 1.6em;
  content: ' ';
  border-radius: 100%;
  float: left;
  margin-right: 0.5em;
}

.suggestion-title {
  display: inline-block;
  margin-top: 0.25rem;
  font-size: $medium-large-text;
}
.suggestion-intro {
  font-size: $meta-text;
  margin: 0.5rem 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}
.suggestion__meta {
  font-size: $meta-text;
}
.some-label {
  display: inline-block;
  color: white;
  padding-left: 1rem;
}

.b-breadcrumbs {
  &__location {
    font-size: 14px;
    color: $grey;
    @include mq($until: desktop) {
      display: none;
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    font-size: 14px;
    @include link-init($grey, true, darken($grey-light, 15%));
    margin-right: 1.5rem;

    &:after {
      position: absolute;
      display: block;
      content: ' ';
      top: 0.25rem;
      right: -0.75rem;
      height: 1.2em;
      width: 1px;
      border-right: 1px solid darken($grey-light, 15%);
    }

    &:nth-child(1) {
      font-size: 28px;
      border-right: 2px;
    }
    &:nth-child(2) {
      font-size: 1rem;
    }

    @include mq($until: desktop) {
      display: none;
      position: relative;
      margin-left: 1.5em;
      &:nth-last-child(2) {
        display: inline-block;
        &:after {
          display: none;
        }
        &:before {
          position: absolute;
          display: inline-block;
          content: 'â†';
          left: -1.5em;
          height: 1em;
          width: auto;
        }
      }
    }
  }
}

.full-width {
  background-color: rgb(122, 197, 122);
  width: 100%;
  padding: 2vw 0;
  overflow: auto;
  left: 0;
  position: absolute;
}

.b-article-image {
  &__image {
    max-width: 100%;
    margin-bottom: 1em;
  }
  &__text {
    font-size: $meta-text;
    color: $grey;
  }
}

.b-hr {
  margin: 0;
  padding: 0;
  border: 0;
  border-top: 1px solid $black;
  &--grey-light {
    border-color: $grey-light;
  }
  &--grey-lighter {
    border-color: $grey-lighter;
  }
  &--blue {
    border-color: $blue;
  }
  &--black {
    border-color: $black;
  }
  &--thick {
    border-width: 7px;
  }
}

// The CSS meant for the content from the rich text in Enonic
.t-body-text {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1.5em;
  }
  // Removes heading styles for blocks
  [class^='b-'] {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0;
    }
  }
  p {
    margin: 1em 0;
  }
  // Removes the top margin from the first heading
  > :first-child {
    margin-top: 0;
  }
  ul {
    margin-top: 0.5em;
  }
}

.b-long-short-heading {
  position: relative;
  width: 100%;

  &__sub {
    font-weight: bold;
    font-size: $meta-text;
    margin-top: 1rem;
  }
  &__sub-icon {
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
    margin-bottom: -0.33em;
    padding: 0.25em;
    background: $secondary-color;
    border-radius: 100%;
  }
  &__link {
    font-size: $meta-text;
    position: absolute;
    bottom: 0;
    right: 0;
    @include mq($until: $tablet) {
      position: static;
      margin-top: 1em;
    }
  }
}

.block-hint {
  [class^='b-']:not([class*='__']) {
    position: relative;
    &:before {
      content: attr(class);
      position: absolute;
      font-size: 0.7rem;
      top: -0.25em;
      color: #991199;
      font-weight: bold;
      background: white;
      border: 1px solid grey;
      z-index: 2;
      padding: 0.25em;
    }
  }
}

small {
  font-size: $meta-text;
}

.b-sidebar-heading {
  position: relative;
  font-size: $meta-text;
  width: calc(100% - 2.5em);
  margin-left: 3.5em;
  font-weight: bold;

  &:before {
    position: absolute;
    left: -3.5em;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 2.5em;
    width: 2.5em;
    content: ' ';
    background-image: url('./icons/search.svg');
    background-size: 1.25em 1.25em;
    background-position: 0.625em 0.625em;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-color: $green;
  }
}

.b-alert {
  padding: 1em;
  border-left: 7px solid $grey;
  display: flex;
  justify-content: space-between;

  &--small {
    font-size: $meta-text;
    padding: 0.5em;
  }

  &--success {
    border-color: $green;
    background-color: $green-light;
  }
  &--warning {
    border-color: $yellow;
    background-color: $yellow-light;
  }
  &--danger {
    border-color: $red;
    background-color: $red-light;
  }
  &--info {
    border-color: $blue;
    background-color: $blue-light;
  }
  &__icon {
    position: relative;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    background-color: $black;
    color: white;
    margin-right: 1em;
    flex-shrink: 0;
    &--success {
      background-color: $green-dark;
      &:before {
        color: $green-light;
      }
    }
    &--warning {
      background-color: $yellow-dark;
      &:before {
        color: $yellow-light;
      }
    }
    &--danger {
      background-color: $red-dark;
      &:before {
        color: $red-light;
      }
    }
    &--info {
      background-color: $blue-dark;
      &:before {
        color: $blue-light;
      }
    }
    &:before {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      content: '!';
    }
  }
  &__content {
    margin-top: 0.25em;
    text-align: left;
    flex-grow: 1;
  }
}

.t-image-wide {
  width: 100%;
  height: auto;
}

.b-input-text {
  &__label {
    font-size: $meta-text;
  }
  &__input {
    display: block;
    width: 25em;
    max-width: 100%;
    margin-top: 0.5em;
    font-size: $base-font-size;
    padding: 0.5em;
    border-radius: 4px;
    border: 2px solid $secondary-color;
    background: white;
  }
  &__error {
    color: $red;
    font-size: $meta-text;
    margin-bottom: 1em;
  }
}

.b-image {
  &--16-9 {
    width: 100%;
    padding-top: 56.25%;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.b-questionnaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__options {
    display: flex;
    flex-shrink: 0;
    width: 50%;
    justify-content: space-evenly;
  }
}
