.background-wrapper {
  position: relative;
  height: 100%;
  padding: 3rem 0 5rem 0;
  &:after {
    background-image: url('../static/icon_background.svg');
    // background-size: 1250px;
    background-size: 1120px;
    background-repeat: repeat-x;
    content: '';
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  tr {
    display: table-row;
    &:last-child {
      td {
        border-bottom: none;
      }
      th {
        border-bottom: none;
      }
    }
  }
  th,
  td {
    box-sizing: border-box;
    padding: $space-sm;
    display: table-cell;
    border: 0;
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
    &:first-child{
      border-bottom: 1px solid $black;
      border-right: 1px solid $black;
    }
    &:last-child {
      border-right: 0;
    }
  }
  th {
    text-align: left;
    font-weight: bold;
  }
}

.b-icon-with-text {
  display: flex;
  align-items: center;
  @include mq($until: tablet) {
    border-bottom: 1px solid $grey-light;
    padding-bottom: $space-sm;
  }
  &__image {
    height: 2.5em;
    width: auto;
    margin-right: 0.75em;

    &--small {
      height: 1em;
      margin-right: 0.6em;
    }
  }
  &__text-wrapper {
    display: inline-block;
  }
  &__text {
    display: block;
    font-size: $font-xs;
  }
  &--clean {
    .b-icon-with-text__text {
      text-transform: none;
      font-size: $medium-large-text;
    }
  }
}

.u-right-sm {
  margin-right: $space-sm;
}

.hide {
  display: none;
}

.l-mb-2-mobile {
  @include mq($until: $tablet) {
    margin-bottom: 1.5em;
  }
}