.background-wrapper {
  position: relative;
  height: 100%;
  padding: 3rem 0 5rem 0;
  &:after {
    background-image: url('../static/icon_background.svg');
    // background-size: 1250px;
    background-size: 1120px;
    background-repeat: repeat-x;
    content: '';
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}

table {
  border: 1px solid $black;
  max-width: 100%;
  border-spacing: 0;
  border-left: none;
  border-right: none;
  tr {
    &:last-child {
      td {
        border-bottom: none;
      }
      @include mq($from: $desktop) {
        th {
          border-bottom: none;
        }
      }
    }
  }
  th,
  td {
    box-sizing: border-box;
    padding: 1rem;
    border-bottom: 1px solid $black;

    @include mq($from: $desktop) {
      display: table-cell;
      border-right: 1px solid $black;

      &:last-child {
        border-right: 0;
      }
    }
  }
  th {
    text-align: left;
    font-weight: bold;
  }
}

.b-icon-with-text {
  display: flex;
  align-items: center;
  &__image {
    height: 2em;
    width: auto;
    margin-right: 0.75em;

    &--small {
      height: 1em;
      margin-right: 0.6em;
    }
  }
  &__text {
    text-transform: uppercase;
    font-size: $meta-text;
    font-weight: bold;
  }
}
