/* work-sans-regular - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Work Sans'), local('WorkSans-Regular'),
    url('../static/fonts/WorkSans-Regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../static/fonts/WorkSans-Regular.woff')
      format('woff');
}

/* work-sans-600 - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Work Sans SemiBold'), local('WorkSans-SemiBold'),
    url('../static/fonts/WorkSans-SemiBold.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../static/fonts/WorkSans-SemiBold.woff')
      format('woff');
}

/* lekton-italic - latin */
@font-face {
  font-family: 'Work Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Lekton-Italic'),
    url('../static/fonts/lekton-v8-latin-italic.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../static/fonts/lekton-v8-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

$base-font-size: calc(17px + 1 * (100vw - 400px) / (1440 - 400));

html {
  font-size: $base-font-size;
}

body {
  color: $text-color;
  font-family: $base-font-family, 'Source Code Pro';
  font-weight: normal;
  line-height: 1.6;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

a {
  &:link,
  &:hover,
  &:visited,
  &:active {
    color: $black;
  }

  &:hover {
    color: $link-color;
  }

  text-decoration: none;
  box-shadow: 0 1px 0 $link-color;
}

// Responsive text alignment
.t {
  @each $spaceName, $spaceValue in $flexboxgrid-breakpoints {
    &-#{$spaceName}-right {
      text-align: left;
      @include mq($from: $spaceValue) {
        text-align: right;
      }
    }
    &-#{$spaceName}-left {
      text-align: left;
      @include mq($from: $spaceValue) {
        text-align: left;
      }
    }
    &-#{$spaceName}-center {
      text-align: left;
      @include mq($from: $spaceValue) {
        text-align: center;
      }
    }
  }
}

// Text color helper class
.t {
  @each $colorName, $colorVal in $colors {
    &--#{$colorName} {
      color: $colorVal;
    }
  }
}

.t--small {
  font-size: $meta-text;
}
