$text-color: black;
$base-font-size: 20px;
$base-font-weight: normal;
$base-font-family: 'Work Sans', sans-serif;

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.6;
}
