$black: #212121;

$grey: #6e6e6e;
$grey-light: #d8dada;

$blue-dark: #025169;
$blue: #0667c6;
$blue-light: blue;

$yellow: #ffc900;
$yellow-light: #fef4ce;

$green: #366558;

// Colors only meant for warnings
$green-warning: #007a00;
$yellow-warning: #f0c617;
$red-warning: #ad0017;

$brand-color: $blue-dark;
$secondary-color: $blue;

// Base font
$base-font-size: 20px;
$base-font-weight: normal;
$base-font-family: "Work Sans", sans-serif;
$text-color: $black;

// Font sizes
$extra-large-text: 3.25rem;
$large-text: 1.8rem;
$medium-large-text: 1.2rem;
$meta-text: 0.8rem;
