$black: #212121;
$grey: #504f4f;
$grey-light: #d8dada;
$grey-lighter: #f7f7f7;
$blue-dark: #025169;
$blue: #0667c6;
$blue-light: #82b3e2;
$blue-lighter: #e6f3ff;
$blue-lightest: #F6FBFF;
$yellow-dark: #d39000;
$yellow: #ffc900;
$yellow-light: #fef4ce;
$red-dark: #8b0a0a;
$red: #d62121;
$red-light: #f3bebe;
$orange: #f8a83d;
$green-dark: #366558;
$green: #95dcca;
$green-light: #d4f1d4;
$purple: #e5bdf5;
$purple-dark: #7c145c;

// Colors only meant for warnings
$green-warning: #007a00;
$yellow-warning: #f0c617;
$red-warning: #ad0017;
$secondary-color: $blue-dark;
$primary-color: $blue;
$link-color: $primary-color;

// List of colors
$colors: (
  black: $black,
  white: white,
  grey: $grey,
  grey-light: $grey-light,
  grey-lighter: $grey-lighter,
  blue-dark: $blue-dark,
  blue: $blue,
  blue-light: $blue-light,
  blue-lighter: $blue-lighter,
  yellow-dark: $yellow-dark,
  yellow: $yellow,
  yellow-light: $yellow-light,
  red-dark: $red-dark,
  red: $red,
  red-light: $red-light,
  orange: $orange,
  green-dark: $green-dark,
  green: $green,
  green-light: $green-light,
  purple: $purple,
  purple-dark: $purple-dark,
  green-warning: $green-warning,
  yellow-warning: $yellow-warning,
  red-warning: $red-warning
);

// Base font
$base-font-weight: normal;
$base-font-family: 'Work Sans', sans-serif;
$base-line-height: 1.6;
$text-color: $black;

// OLD Font sizes
$extra-large-text: 2.5rem;
$large-text: 1.8rem;
$medium-large-text: 1.2rem;
$meta-text: 0.8725rem;

/* Typography */
$font-body: 16px;
$font-body-mobile: 16px;

$font-h1: 36px;
$font-h1-mobile: 24px;
$font-h2: 24px;
$font-h2-mobile: 21px;
$font-h3: 20px;
$font-h3-mobile: 19px;
$font-h4: 18px;
$font-h4-mobile: 17px;
$font-h5: 16px;
$font-h5-mobile: 16px;

$font-xxl: $font-h1;
$font-xxl-mobile: $font-h1-mobile;
$font-xl: $font-h2;
$font-xl-mobile: $font-h2-mobile;
$font-l: $font-h3;
$font-l-mobile: $font-h3-mobile;
$font-md: $font-h4;
$font-md-mobile: $font-h4-mobile;
$font-sm: $font-h5;
$font-sm-mobile: $font-h5-mobile;
$font-xs: 14px;
$font-xs-mobile: 14px;

/* Spacing */
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 4rem;
$space-xxl: 8rem;

// Layout
$container-small: 4vw;
$container-medium: 6vw;
$container-large: 14vw;

// Logo
$logo: '../static/hdir_logo.svg';
$logo-small: '../static/hdir_logo_small.svg';
$logo-qa: '../static/hdir_logo_qa.svg';

// Arrows
$arrow-down: '../static/icons/arrow_down_hdir.svg';
$arrow-left: '../static/icons/arrow_left_hdir.svg';
$arrow-right: '../static/icons/arrow_right_hdir.svg';
$arrow-up: '../static/icons/arrow_up_hdir.svg';
$arrow-white-down: '../static/icons/arrow_down_white.svg';
$arrow-white-left: '../static/icons/arrow_left_white.svg';
$arrow-white-right: '../static/icons/arrow_right_white.svg';
$arrow-white-up: '../static/icons/arrow_up_white.svg';
