.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	border: 0;
}
.videoWrapper__close {
	position: fixed;
	width: 100px;
	margin: auto;
	top: 7px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 999;
	display: none;
}

.videoWrapper__fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	.videoWrapper__close {
		display: inline-block;
	}
}