@import '../../node_modules/normalize-scss/sass/normalize';
@import '../../node_modules/sass-mq/mq';
@import '../../node_modules/flexboxgrid-sass/flexboxgrid';
@import '../../node_modules/sass-svg-uri/svg-uri';

@import './settings';
@import './variables-helfo';

@import './mixins';

@import './typography';
@import './headings';
@import './layout';
@import './animation';
@import './print';

@import './misc';
@import './video-wrapper';

@import './js';
@import './accessibility';

@import './blocks';
@import './suggestion';
@import './enonic_formbuilder';
@import './image';

// Temp styles. Remove your temp-styles after finishing your task.
@import './shame';

body {
  background-color: rgba(#fff4e6, 0.21);
}

// Shame: Override
.b-section-sidebar__link {
  font-size: $font-sm;
}

// Logo position fix for ie11
.b-main-header__logo {
  background-size: 6rem 2.1rem;
}

// Override blue bg color on theme box/boxes
.b-box--blue-light {
  background: none;
}

// Color fix for colapsibles
.b-collapsible__button:before {
  background-image: url(../static/icons/chevron_helfo.svg);
}

@import './print-pdf-helfo';